.notificationContainer {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
}

.notification {
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
  opacity: 1;
}

.slideIn {
  transform: translateY(0);
}

.slideOut {
  transform: translateY(-20px);
  opacity: 0;
}
